{% load demoscene_tags %}


<table class="table">
    <colgroup>
        <col class="col--thumb" />
        <col width="40%" />
        <col />
        <col class="col--date" />
        {% if editing and site_is_writeable %}
        <col />
        {% endif %}
    </colgroup>
    <tbody>
        {% for credit in credits %}
            <tr>
                <td>
                    {% if credit.screenshot %}
                        {% microthumb credit.screenshot %}

                    {% else %}
                        <div class="media media--thumbnail">
                            {% icon credit.production.supertype %}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <div>
                        <a href="{{ credit.production.get_absolute_url }}">{{ credit.production.title }}</a>
                        {% if credit.roles %}
                            -
                            {% for role in credit.roles %}
                                <span>{{ role.description }}</span>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            {% if credit.nick.name != releaser.name %}
                                <em>(as <span>{{ credit.nick.name }}</span>)</em>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="meta">
                        {{ credit.production.platforms_and_types_list }}
                    </div>
                </td>
                <td>{% byline credit.production %}</td>
                <td>{{ credit.production.release_date.short_format }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
